:root {
    --vermelha: #e50914;
    --preta: #141414;
    --main-texts: 'Trebuchet MS', Arial, sans-serif;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preta);

    color: white;

    font-family: 'Times New Roman', Times, serif;
}

/* barra de navegação */

header .container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    display: flex;

    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    height: 70px;

    background: linear-gradient(
        var(--preta) 10%,
        rgba(0, 0, 0, 0) 100%
    );
}

header .logo {
    color: var(--vermelha);

    font-family: 'Arial Black', Times;
    font-size: 40px;

    margin: 0 10px;
}

header nav a {
    text-decoration: none;

    font-size: 20px;
    color: rgb(220, 220, 220);

    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/* mídia principal */

.midia-principal {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    background: linear-gradient(
        90deg,
        var(--preta) 0%,
        rgba(0, 0, 0, 0) 100%
    ),
        url('/img/close-enough-backdrop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 500px;
}

.midia-principal .container {
    min-width: 600px;
    width: 40vw;

    margin-left: 40px;
}

.midia-principal .titulo {
    margin-bottom: 20px;

    font-family: var(--main-texts);
    font-size: 45px;
}

.midia-principal .descricao {
    margin-bottom: 40px;

    font-family: var(--main-texts);
    font-size: 20px;
}

.botao {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;

    color: white;

    margin-right: 10px;
    padding: 15px 30px;

    font-size: 13px;

    cursor: pointer;

    transition: 0.3s all;
}

.botao i {
    margin-right: 5px;
}

.botao:hover {
    background-color: rgb(255, 255, 255, 0.8);
    color: var(--preta);
}

.box-midia {
    height: 100%;
    width: 100%;
    display: block;

    border-radius: 1px;
}




















